@charset "utf-8";
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#score-board {
    display: flex;
    align-items: center;
    background-color: green;
    padding: 30px;
}

#player-name, #player-score {
    padding: 10px;
}

#player-info {
    text-align: center;
}

#game-board {
    width: 100%;
    padding: 20px;
    background-color: greenyellow;
}

#player-form-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#game-buttons {
    display: flex;
    justify-content: flex-start;
    color: purple;
    gap: 10px
}

body {
    width: 100%;
}

main {
    background-color: rgb(98, 178, 98);
    height: 100vh;
}

footer {
    text-align: center;
}