@charset "utf-8";
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#score-board {
    background-color: rgb(20, 40, 31);
    border-radius: 8px 8px 0 0;
    color: rgb(95, 95, 95);
    display: flex;
    align-items: center;
    padding: 50px;
    text-align: center;
}

#player-name, #player-score {
    padding: 10px;
}

#player-info {
    text-align: center;
    width: 100%;
}

#game-board {
    padding: 30px;
    
}

#player-form-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#game-buttons {
    display: flex;
    justify-content: flex-start;
    color: purple;
    gap: 10px
}

main {
    background-color: rgb(36, 36, 36);
    height: 100vh;
    max-width: 800px;
    border-radius: 8px;
    background-image: url('../images/darksand.jpg');
    background-size: cover;
}

footer {
    text-align: left;
}